<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tuarmario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tienda"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tienda"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuArmario">
        <activity
            android:name=".ZapatillasActivity"
            android:exported="true" />
        <activity
            android:name=".PantalonesActivity"
            android:exported="true" />
        <activity
            android:name=".camisetasActivity"
            android:exported="true" />
        <activity
            android:name=".PrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>